# Python related
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/

# Poetry
poetry.lock

# Docker
Dockerfile*

# Git
.git/

# Data / storage
data/
# models/ - commented out, models are needed in container

# IDE
.vscode/
.idea/

# Misc
*.log
dist/
build/

